// Importing Bootstrap
@import "overrides.scss";
@import "bootstrap/bootstrap.scss";

html,body {
	height: 100%;
  margin: 0;
}

/* HOMEPAGE */

section#header {
	background-color: #cee2fc;
	background-image: url("../img/rac-header.png");
	background-repeat: repeat-x repeat-y;
	background-position: center 30%;
	height: 640px;
	width: auto;

	@media (min-width: 412px) {
		height: 659px;
	}

	@media (min-width: 414px) {
		height: 736px;
	}

	@media (min-height: 480px) {
		height: 535px;
	}

	@media (min-height: 533px) {
		height: 535px;
	}

	@media (min-height: 568px) {
		height: 570px;
	}

	@media (min-height: 640px) {
		height: 645px;
	}

	@media (min-height: 627px) {
		height: 630px;
	}

	@media (min-height: 736px) {
		height: 736px;
	}

	@media (min-width: 768px) {
		height: 350px;
	}

	@media (min-height: 1024px) {
		height: 450px;
	}

	@media (min-width: 1280px) {
		height: 500px;
	}

	@media (min-width: 1400px) {
		height: 550px;
	}

	@media (min-width: 1600px) {
		height: 450px;
	}
}

#header h1 {
	font-family: 'Cookie', cursive;
	color: #fff;
	font-size: 70px;
	text-align: center;
	margin-top: 100px;

	@media (min-width: 320px) {
		font-size: 55px;
		margin-top: 80px;
	}

	@media (min-width: 360px) {
		font-size: 70px;
		margin-top: 100px;
	}

	@media (min-width: 412px) {
		font-size: 70px;
		margin-top: 90px;
		padding-left: 50px;
		padding-right: 50px;
	}

	@media (min-width: 414px) {
		font-size: 70px;
		margin-top: 120px;
		padding-left: 50px;
		padding-right: 50px;
	}

	@media (min-width: 600px) {
		font-size: 70px;
		margin-top: 60px;
		padding-left: 65px;
		padding-right: 65px;
	}

	@media (min-width: 768px) {
		font-size: 75px;
		margin-top: 40px;
		padding-left: 140px;
		padding-right: 140px;
	}

	@media (min-width: 800px) {
		font-size: 90px;
		margin-top: 50px;
		padding-left: 110px;
		padding-right: 110px;
	}

	@media (min-height: 960px) {
		font-size: 90px;
		margin-top: 90px;
		padding-left: 110px;
		padding-right: 110px;
	}


	@media (min-height: 1024px) {
		font-size: 75px;
		margin-top: 50px;
		padding-left: 100px;
		padding-right: 100px;
	}

	@media (min-width: 1280px) {
		font-size: 120px;
		margin-top: 60px;
		padding-left: 250px;
		padding-right: 250px;
	}

	@media (min-height: 1280px) {
		font-size: 90px;
		margin-top: 30px;
		padding-left: 100px;
		padding-right: 100px;
	}

	@media (min-width: 1400px) {
		font-size: 100px;
		margin-top: 60px;
		padding-left: 390px;
		padding-right: 390px;
	}

	@media (min-width: 1440px) {
		font-size: 100px;
		margin-top: 50px;
		padding-left: 380px;
		padding-right: 380px;
	}

	@media (min-width: 1600px) {
		text-align: center;
		font-size: 100px;
		margin-top: 45px;
		padding-left: 450px;
		padding-right: 450px;
	}

}

#header h4 {
	font-family: sans-serif, serif;
	color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	margin-top: 20px;

	@media (min-width: 412px) {
		font-size: 25px;
		margin-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (min-width: 600px) {
		font-size: 25px;
		margin-top: 20px;
		padding-left: 60px;
		padding-right: 60px;
	}

	@media (min-height: 960px) {
		font-size: 25px;
		margin-top: 30px;
		padding-left: 60px;
		padding-right: 60px;
	}

	@media (min-width: 1280px) {
		font-size: 25px;
		line-height: 30px;
		padding-left: 270px;
		padding-right: 270px;
	}

	@media (min-width: 1440px) {
		font-size: 25px;
		margin-top: 25px;
		padding-left: 400px;
		padding-right: 400px;
	}

	@media (min-width: 1600px) {
		text-align: center;
		font-size: 25px;
		margin-top: 25px;
	}
}

/* CHALLENGEE SECTION */

section#challenge {
	background-color: #DFDEDF;
	height: 800px;
	width: auto;
	margin-top: -20px;

	@media (min-width: 360px) {
		height: 150px;
	}

	@media (min-width: 384px) {
		height: 950px;
	}

	@media (min-height: 480px) {
		height: 900px;
	}

	@media (min-height: 568px) {
		height: 900px;
	}

	@media (min-height: 640px) {
		height: 900px;
	}

	@media (min-height: 627px) {
		height: 900px;
	}

	@media (min-height: 736px) {
		height: 950px;
	}

	@media (min-height: 960px) {
		height: 1300px;
	}

	@media (min-height: 1024px) {
		height: 1200px;
	}

	@media (min-width: 1280px) {
		height: 880px;
	}

	@media (min-height: 1280px) {
		height: 1250px;
	}

	@media (min-height: 2560px) {
		height: 900px;
	}
}

#challenge h1 {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #595859;
	padding-top: 30px;
	text-align: left;
	margin-top: 20px;

	@media (min-width: 320px) {
		font-size: 40px;
		margin-top: 40px;
	}

	@media (min-height: 960px) {
		font-size: 50px;
	}

	@media (min-height: 1024px) {
		text-align: center;
	}

	@media (min-width: 1280px) {
		font-size: 60px;
		margin-top: 55px;
		padding-left: 60px;
	}
}

#challenge p {
	font-family: sans-serif;
	font-size: 16px;
	color: #595859;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		margin-top: 25px;
	}
}

#challenge .img-responsive {
	padding-top: 10px;
	width: 600px;
	height: auto;

	@media (min-height: 1024px) {
		margin: auto;
	}

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		margin-top: 80px;
	}

	@media (min-height: 1280px) {
		margin: auto;
	}

	@media (min-height: 2560px) {
		padding-top: 90px;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* IDEAA SECTION */

section#idea {
	background-color: #fbfbfb;
	height: 1200px;
	width: auto;
	margin-top: -20px;

	@media (min-width: 320px) {
		height: 1900px;
	}

	@media (min-width: 360px) {
	 height: 2000px;
	}

	@media (min-width: 414px) {
	 height: 2000px;
	}


	@media (min-width: 600px) {
		height: 2150px;
	}

	@media (min-width: 800px) {
		height: 2150px;
	}

	@media (min-width: 1000px) {
		height: 1800px;
	}

	@media (min-width: 1280px) {
		height: 1500px;
	}
}

.light-bulb {
	margin: 20px auto auto auto;
	padding-left: 70px;
	padding-right: 70px;

	@media (min-width: 600px) {
		text-align: center;
		display: table;
		padding: 0;
	}

	@media (min-width: 1280px) {
		text-align: center;
		display: table;
		padding: 0;
	}
}

#idea h1 {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #595859;
	text-align: center;
	margin-bottom: 40px;

	@media (min-width: 1280px) {
		font-size: 60px;
		margin: auto;
		display: table;
		padding-top: 10px;
		padding-bottom: 120px;
	}
}

#idea p {
	font-family: sans-serif;
	font-size: 16px;
	color: #595859;
	text-align: left;

	@media (min-width: 1280px) {
		text-align: left;
	}
}

.color-palette {
	@media (min-width: 600px) {
		margin: auto;
		display: table;
		text-align: center;
	}

	@media (min-width: 1280px) {
	 	content: url("../img/color-palette-lg.png");
		float: none;
		margin-top: -50px;
		margin-left: 70px;
	}
}

.layout {
	@media (min-width: 320px) {
	 margin-top: 40px;
	 margin-bottom: 30px;
	}

	@media (min-width: 360px) {
	 margin-top: 40px;
	 margin-bottom: 30px;
	}

	@media (min-width: 1280px) {
	 float: right;
	 margin-top: 140px;
	 margin-right: 100px;
	}
}

.gallery-img {

	@media (min-width: 1280px) {
	 content: url("../img/gallery-img-lg.png");
	 float: left;
	 margin-top: 70px;
	}
}

/* WIREFRAMESS SECTION */

section#wireframe {
	background-color: #e0e0e0;
	background-image: url("../img/sketchlogo.png");
	background-repeat: repeat-x repeat-y;
	background-position: center 20%;
	height: 3000px;
	width: auto;
	margin-top: -20px;

	@media (min-width: 320px) {
		height: 2100px;
	}

	@media (min-width: 360px) {
		height: 2400px;
	}

	@media (min-width: 360px) {
		height: 2300px;
	}

	@media (min-width: 375px) {
		height: 2450px;
	}

	@media (min-width: 384px) {
		height: 2450px;
	}

	@media (min-width: 412px) {
		height: 2600px;
	}

	@media (min-width: 600px) {
		height: 3400px;
	}

	@media (min-width: 768px) {
		height: 3300px;
	}

	@media (min-width: 800px) {
		height: 3350px;
	}

	@media (min-width: 1000px) {
		height: 800px;
	}

	@media (min-width: 1280px) {
		height: 900px;
	}


}

#wireframe h1 {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #595859;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 40px;

	@media (min-width: 360px) {
		margin-bottom: 20px;
	}

	@media (min-width: 1280px) {
		font-size: 60px;
		margin: auto;
		display: table;
		padding-top: 100px;
	}
}

#wireframe p {
	font-family: sans-serif;
	font-size: 16px;
	color: #595859;
	text-align: left;
	padding-bottom: 10px;

	@media (min-width: 360px) {
		padding-bottom: 30px;
	}

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		padding-top: 25px;
	}
}

.wireframe-img {
	margin-bottom: 20px;

	@media (min-width: 360px) {
		margin-bottom: 50px;
	}

	@media (min-width: 600px) {
		display: table;
		text-align: center;
		margin: auto;
		padding-bottom: 40px;
	}
}

/* THE DESIGN */

section#design {
	background-color: #ececec;
	height: 100%;
	width: auto;
	margin-top: -20px;

	@media (min-width: 320px) {
		height: 1250px;
	}

	@media (min-width: 360px) {
		height: 1250px;
	}

	@media (min-width: 375px) {
		height: 1300px;
	}

	@media (min-width: 384px) {
		height: 1300px;
	}

	@media (min-width: 412px) {
		height: 1400px;
	}

	@media (min-width: 600px) {
		height: 2100px;
	}

	@media (min-width: 600px) {
		height: 1250px;
	}

	@media (min-width: 768px) {
		height: 1350px;
	}

	@media (min-width: 800px) {
		height: 1350px;
	}

	@media (min-width: 1280px) {
		height: 1600px;
	}

	@media (min-width: 1440px) {
		height: 1600px;
	}

	@media (min-width: 1600px) {
		height: 1500px;
	}

}

section#design h1 {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #595859;
	padding-top: 30px;
	text-align: left;
	margin-top: 20px;

	@media (min-width: 1280px) {
		font-size: 60px;
		margin: auto;
		display: table;
		padding-top: 150px;
	}
}

section#design p {
	font-family: sans-serif;
	font-size: 16px;
	color: #595859;
	text-align: left;
	padding-bottom: 10px;

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		padding-top: 25px;
	}
}

.screenscroll {
	margin-top: 30px;
	margin-bottom: 40px;

	@media (min-width: 600px) {
		height: 300px;
		width: auto;
		overflow: scroll;
	}

	@media (min-width: 1000px) {
		height: 400px;
		width: auto;
		overflow: scroll;
		padding-left: 40px;
	}

	@media (min-width: 1440px) {
		height: 400px;
		width: auto;
		overflow: scroll;
		padding-left: 100px;
	}

	@media (min-width: 1280px) {
		height: 400px;
		width: auto;
		overflow: scroll;
		padding-top: 40px;
		margin-left: 80px;

	}
}

.logos{
	margin-bottom: 40px;

	@media (min-width: 1000px) {
		display: table;
		text-align: center;
		margin: auto;
		padding-bottom: 100px;
		padding-top: 50px;
	}

	@media (min-width: 1280px) {
		display: table;
		text-align: center;
		margin: auto;
		padding-bottom: 100px;
		padding-top: 50px;
	}
}


/* THE FINAL DESIGN */

section#finaldesign {
	background-color: #fff;
	height: 100%;
	width: auto;

	@media (min-width: 320px) {
		height: 840px;
		margin-top: 30px;
	}

	@media (min-width: 360px) {
		height: 840px;
		margin-top: 50px;
	}

	@media (min-width: 600px) {
		height: 1100px;
	}

	@media (min-width: 768px) {
		height: 1130px;
	}

	@media (min-width: 800px) {
		height: 1400px;
	}

	@media (min-width: 900px) {
		height: 900px;
		margin-top: 0px;
	}

	@media (min-width: 1280px) {
		height: 1100px;
		margin-top: 0px;
	}

	@media (min-width: 1600px) {
		height: 2800px;
	}
}

section#finaldesign h1 {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #595859;
	padding-top: 10px;
	text-align: left;

	@media (min-width: 360px) {
		padding-top: 20px;
		margin-top: 0px;
	}

	@media (min-width: 1280px) {
			font-size: 60px;
			margin: auto;
			display: table;
			padding-top: 150px;
	}
}

section#finaldesign p {
	font-family: sans-serif;
	font-size: 16px;
	color: #595859;
	text-align: left;
	padding-bottom: 10px;

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		padding-top: 25px;
	}
}

section#finaldesign a {
	font-family: sans-serif;
	font-size: 20px;
	text-align: left;

	@media (min-width: 320px) {
		font-size: 18px;
	}

	@media (min-width: 1280px) {
		margin-left: 60px;
		margin-right: 60px;
		padding-top: 25px;
	}
}

.finaldesign-img {
	margin: auto;
	display: table;

	@media (min-width: 320px) {
		padding-top: 30px;
	}

	@media(min-width: 360px){
		padding-top: 30px;
	}
}

.back-arrow {
  cursor: pointer;
  height: 10px;
  width: auto;
  margin: auto;
  display: table;
  padding-top: 40px;
	padding-bottom: 100px;

  @media (min-width: 1600px) {
    padding-top: 70px;
  }

}


/* FOOTER */

section#footer {
	background-color: #56edc4;
	height: 100px;
	width: 100%;
	bottom: 0;
}


section#footer p {
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}
