/* Saatchi Dashboard Project */

// Importing Bootstrap
@import "overrides.scss";
@import "bootstrap/bootstrap.scss";

html,body {
	height: 100%;
  margin: 0;
}

/* Header section*/
#header {
  background-color: #ededed;
  width: 100%;
  height: auto;
}

.saatchi-logo {
  padding: 10px 80px 10px 80px;
  display: table;
  margin: auto;
  text-align: center;
}

.header-img {
  display: table;
  margin: auto;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
}

#header h3 {
  color: #595959;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;

  @media (min-width: 320px){
    font-size: 35px;
  }
  @media (min-width: 600px){
      font-size: 45px;
  }
  @media (min-width: 1280px){
      font-size: 50px;
  }
}

#header p {
  color: #595959;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px 22px 90px 22px;

  @media (min-width: 320px){
    padding: 5px 10px 90px 10px;
    font-size: 20px;
  }

  @media (min-width: 1280px){
    padding: 20px 35px 80px 35px;
    font-size: 30px;
  }
}

/* intro section */
#section1 {
  background-color: #272944;
  width: 100%;
  height: auto;
  margin-top: -10px;
}

#section1 p {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  padding: 40px 20px 40px 20px;

  @media (min-width: 1280px){
    padding: 80px 35px 80px 35px;
    font-size: 30px;
  }
}

/* Sketches */
#sketch {
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
}

.sketch1 {
  text-align: center;
  margin: auto;
  display: table;
  padding: 60px 15px 15px 15px;

  @media (min-width: 1280px){
    padding: 100px 0px 100px 0px;
		@include make-lg-column(6);
  }
}

.sketch2 {
  text-align: center;
  margin: auto;
  display: table;
  padding: 0px 15px 60px 15px;

  @media (min-width: 1280px){
    padding: 100px 0px 100px 0px;
		@include make-lg-column(6);
  }
}

/* title divider*/
.header1 {
	background-color: #272944;
	width: 100%;
	height: auto;
	margin-top: -10px;
}

.header1 p {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	padding: 30px 20px 30px 20px;

	@media (min-width: 1280px){
		padding: 40px 35px 40px 35px;
		font-size: 30px;
	}
}


/* menu feature */
#section2 {
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
}

.menu-img {
  text-align: center;
  margin: auto;
  display: table;
  padding: 50px 15px 15px 15px;

  @media (min-width: 1280px){
    padding: 100px 15px 50px 15px;
  }
}

#section2  p {
  padding: 30px;
  color: #595959;
  font-size: 20px;

  @media (min-width: 1280px){
    padding: 50px;
  }
}

#section2  h3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  color: #595959;
  font-size: 20px;
  font-style: bold;

  @media (min-width: 1280px){
    padding: 50px;
  }
}

.screen-shot1 {
  text-align: center;
  margin: auto;
  display: table;
  padding-bottom: 15px;

  @media (min-width: 1280px){
    padding-bottom: 30px;
  }
}

.screen-shot2 {
  margin: auto;
  display: table;
  text-align: center;
	padding-bottom: 40px;

  @media (min-width: 1280px){
    padding-bottom: 50px;
  }

}


#section2  i {
  color: #114B5F;
  font-size: 25px;
  text-align: center;

  @media (min-width: 1280px){
    text-align: center;
  }
}

.center-quote {
  margin: auto;
  display: table;
  text-align: center;
	padding-bottom: 20px;

	@media (min-width: 1280px){
		padding-bottom: 100px;
	}
}

#section2 footer {
  color: #186D89;
  padding-top: 10px;
	padding-bottom: 50px;

}


/* title divider*/
.header2 {
	background-color: #272944;
	width: 100%;
	height: auto;
	margin-top: -10px;
}

.header2 p {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	padding: 30px 20px 30px 20px;

	@media (min-width: 1280px){
		padding: 40px 35px 40px 35px;
		font-size: 30px;
	}
}

/* Nav section */
#section3 {
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
}

.screen-shot3 {
  margin: auto;
  display: table;
  text-align: center;
  padding: 40px 0 15px 0;

  @media (min-width: 1280px){
    padding-top: 100px;
  }
}

.screen-shot4 {
  margin: auto;
  display: table;
  text-align: center;
  padding-bottom: 15px;

  @media (min-width: 1280px){
    padding-top: 20px;
  }
}

#section3 p {
	padding: 30px;
	color: #595959;
	font-size: 20px;

	@media (min-width: 1280px){
		padding-bottom: 100px;
	}
}

/* title divider*/
#color-palette {
	background-color: #272944;
	width: 100%;
	height: auto;
	margin-top: -10px;
}

#color-palette h3 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	padding: 30px 20px 30px 20px;

	@media (min-width: 1280px){
		padding: 40px 35px 40px 35px;
		font-size: 30px;
	}
}
 /* colour palette section */

.color-palette-text {
	padding: 30px;
	color: #595959;
	font-size: 20px;

	@media (min-width: 1280px){
		padding-top: 100px;
		padding-bottom: 100px;
		@include make-lg-column(6);
	}
}

.colour-img{
	text-align: center;
	display: table;
	margin: auto;
	padding-bottom: 50px;

	@media (min-width: 1280px){
		padding-top: 100px;
		padding-bottom: 100px;
		@include make-lg-column(6);
	}
}

/* title divider*/
.header3 {
	background-color: #272944;
	width: 100%;
	height: auto;
	margin-top: -10px;
}

.header3 h3 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	padding: 30px 20px 30px 20px;

	@media (min-width: 1280px){
		padding: 40px 35px 40px 35px;
		font-size: 30px;
	}
}

/* Finability & Usability */
.screen-shot5 {
  margin: auto;
  display: table;
  text-align: center;
  padding: 50px 0px 15px 0px;

  @media (min-width: 1280px){
    padding-top: 100px;
  }
}

#section4  p {
  padding: 30px;
  color: #595959;
  font-size: 20px;

  @media (min-width: 1280px){
    padding: 50px;
  }
}

#section4 {
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
}

.screen-shot6 {
  margin: auto;
  display: table;
  text-align: center;
  padding-bottom: 15px;
}


/* title divider*/
#section5-banner {
		background-color: #272944;
		width: 100%;
		height: auto;
		margin-top: -10px;
	}

#section5-banner h3 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	padding: 30px 20px 30px 20px;

	@media (min-width: 1280px){
		padding: 40px 35px 40px 35px;
		font-size: 30px;
	}
}

/*The New Design */
#section5 {
  width: 100%;
  height: auto;
  background-image: #ffffff;
  background-repeat: no-repeat;
  // background-color: #f5d2d2;
}

.final-design {
  margin: auto;
  display: table;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
}

.back-arrow {
  text-align: center;
  margin: auto;
  display: table;
  padding-bottom: 60px;
  cursor: pointer;
}
