// Importing Bootstrap
@import "overrides.scss";
@import "bootstrap/bootstrap.scss";

html,body {
	height: 100%;
  margin: 0;
}

/* HOMEPAGE */

section#header {
	background-image: url("../img/highResDiving.png");
	background-repeat: no-repeat;
	background-position: center 30%;
	height: 640px;
	width: 100%;
  margin-top: -70px;

  @media (min-height: 480px) {
    margin-top: 0px;
    height: 480px;
  }

  @media (min-height: 533px) {
    height: 535px;
  }

  @media (min-height: 567px) {
    height: 570px;
  }

  @media (min-height: 568px) {
    height: 570px;
  }

  @media (min-height: 627px) {
    height: 627px;
  }

  @media (min-height: 640px) {
    height: 640px;
  }

  @media (min-height: 659px) {
    height: 659px;
  }

  @media (min-height: 736px) {
    height: 740px;
  }

  @media (min-height: 960px) {
    height: 780px;
  }

	@media (min-width: 1024px) {
		margin-top: 0px;
		height: 860px;
	}

  @media (min-height: 1024px) {
    margin-top: 0px;
    height: 780px;
  }

	@media (min-width: 1280px) {
    margin-top: -50px;
    height: 850px;
  }
}

#header h3 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin-top: 330px;
  font-family: 'Source Sans Pro', sans-serif;

  @media (min-height: 480px) {
    font-size: 30px;
    margin-top: 260px;
  }

  @media (min-height: 533px) {
    margin-top: 290px;
  }

  @media (min-height: 567px) {
    margin-top: 310px;
  }

  @media (min-height: 568px) {
    margin-top: 310px;
  }

  @media (min-height: 627px) {
    font-size: 40px;
    margin-top: 330px;
  }

  @media (min-height: 659px) {
    margin-top: 370px;
  }

  @media (min-height: 736px) {
    margin-top: 370px;
  }

	@media (min-height: 800px) {
		margin-top: 370px;
		font-size: 60px;
	}

  @media (min-height: 960px) {
		font-size: 50px;
    margin-top: 400px;
  }

	@media (min-width: 1024px) {
		font-size: 80px;
		margin-top: 400px;
	}

  @media (min-height: 1024px) {
    font-size: 60px;
    margin-top: 380px;
  }
}

 /* BUTTON */
 .outer {
   width: 100%;
   text-align: center;
 }

.fa-chevron-circle-down {
	font-size: 9em;
  color: #fff;
  opacity: 0.45;
  filter: alpha(opacity=35);
	display: inline-block;
	cursor: pointer;

  @media (min-height: 480px) {
    margin-top: 0.1em;
    font-size: 8em;
  }

  @media (min-height: 567px) {
    margin-top: 0.25em;
  }

  @media (min-height: 568px) {
    margin-top: 0.18em;
  }

  @media (min-height: 627px) {
    margin-top: 0.2em;
  }

  @media (min-height: 736px) {
    margin-top: 0.27em;
		font-size: 10em;
  }

	@media (min-height: 800px) {
		font-size: 9.5em;
		margin-top: 0.4em;
	}

	@media (min-height: 960px) {
		font-size: 9.5em;
		margin-top: 0.27em;
  }

  @media (min-height: 1024px) {
    font-size: 10em;
    margin-top: 0.3em;
  }

	@media (min-width: 1024px) {
		font-size: 12em;
		margin-top: 0.4em;
	}

  @media (min-height: 1280px) {
    font-size: 10em;
    margin-top: 0.4em;
  }
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



/* SECTION 1 */
.line-background {
	background-image: url("../img/dotted-bkgd-SM.png");
	background-repeat: repeat-y;
	z-index: -1;
	text-align: center;
	margin-left: 30px;


	@media (min-width: 320px) {
		margin-left: 10px;
	}

	@media (min-width: 360px) {
		margin-left: 30px;
	}

	@media (min-width: 384px) {
		margin-left: 40px;
	}

	@media (min-width: 412px) {
		margin-left: 50px;
	}

	@media (min-width: 600px) {
		margin-left: 150px;
		margin-bottom: -130px;
	}

	@media (min-width: 768px) {
    margin-left: 230px;
		margin-bottom: -320px;
  }

	@media (min-width: 800px) {
		margin-left: 250px;
		margin-bottom: -580px;
	}

	@media (min-width: 1280px) {
		margin: 20px -30px -200px 0px;
		background-image: url("../img/dotted-bkgd.png");
		background-repeat: no-repeat;
		width: 100%;
	}

	@media (min-width: 1600px) {
		background-image: url("../img/dotted-bkgd.png");
		background-repeat: no-repeat;
		margin: 20px auto auto 50px;
	}
}

.box {
  margin-top: 115px;
  height: 150px;
  width: 300px;
  background-color: #c1ffd8;
  display: table;
  margin-left: 0px;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  border-color: #aeaeae;
  border-width: 4px;
  border-style: solid;
	z-index: 1;

	@media (min-width: 1280px) {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}



.text-wrapper {
  text-align: center;
  vertical-align: middle;
	color: #585858;
  margin: auto;
	padding: 10px;
  font-size: 30px;
  display: table-cell;
	font-family: 'Questrial', sans-serif;
}

.box2 {
  margin-top: 180px;
  margin-bottom: 230px;
  height: 150px;
  width: 300px;
  background-color: #c1ffd8;
  display: table;
  margin-left: 0px;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  border-color: #aeaeae;
  border-width: 4px;
  border-style: solid;

	@media (min-width: 320px) {
		margin-bottom: 150px;
	}

	@media (min-width: 360px) {
		margin-bottom: 150px;
	}

	@media (min-width: 412px) {
		margin-bottom: 150px;
	}

	@media (min-width: 600px) {
		margin-bottom: 380px;
	}

	@media (min-width: 768px) {
    margin-top: 110px;
		margin-bottom: 520px;
  }

	@media (min-width: 800px) {
		margin-bottom: 780px;
	}
	@media (min-width: 1280px) {
		width: 550px;
		margin: 130px auto 430px auto;
	}
}

/* SECTION 2 */

.girl {
	background-image: url("../img/looking-down.png");
	background-repeat: no-repeat;
	background-position: center 30%;
	height: 640px;
	width: auto;
	margin-left: -15px;
	margin-right: -15px;
	z-index: -1;
}

.text-wrapper3 {
	text-align: center;
	vertical-align: middle;
	padding: 40px;
  font-size: 30px;
	font-family: 'Questrial', sans-serif;
	z-index: 1;

	@media (min-width: 768px) {
		font-size: 40px;
		padding: 80px;
	}

	@media(min-width: 1280px) {
		font-size: 40px;
		padding: 100px;
	}
}

.text-wrapper3 p {
	margin-top: 130px;
	color: #fff;

	@media(min-width: 600px) {
		margin-top: 150px;
	}
}

/* SECTION 3 */

.diamond-bkgd {
	background-image: url("../img/ux-diamond-pattern.png");
	background-repeat: repeat-x;
	height: 640px;
	width: auto;
	margin-left: -15px;
	margin-right: -15px;
}

.text-wrapper2 {
	text-align: center;
	padding: 40px;
  font-size: 30px;
	font-family: 'Questrial', sans-serif;
	color: #585858;

	@media (min-width: 768px) {
		font-size: 40px;
		padding: 60px;
	}

	@media(min-width: 1280px) {
		font-size: 40px;
		padding: 100px;
	}
}

.text-wrapper2 p {
		margin-top: 140px;
}

.end {
	background-color: #ff5e6e;
	font-family: 'Questrial', sans-serif;
	margin-left: -15px;
	margin-right: -15px;
	color: #ffafb7;
	width: auto;
	height: 70px;
	border: 0px;
	text-align: center;
	font-size: 15px;
}

.end p {
	padding-top: 25px;
}
